<ion-header>
  <ion-toolbar>
    <ion-title>auth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
    <ion-label position="floating">email</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">password</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-button>
      Login
    </ion-button>
    <ion-button (click)='signIn()'>
      sub
    </ion-button>
  </ion-item>
</ion-content>
