<ion-content>

  <ion-card>
    <ion-item lines="none">
      <ion-icon name="eye" slot="end"></ion-icon>
      <ion-card-header>
        <ion-card-subtitle>John</ion-card-subtitle>
        <ion-card-title>Birthday </ion-card-title>
        <ion-card-subtitle>02-05-2021</ion-card-subtitle>
      </ion-card-header>


    </ion-item>
    <ion-list>
      <ion-item lines="none">
        <ion-label> 7 Participants </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-icon name="eye" slot="end"></ion-icon>
      <ion-card-header>
        <ion-card-subtitle>Mia</ion-card-subtitle>
        <ion-card-title>Graduate </ion-card-title>
        <ion-card-subtitle>31-06-2021</ion-card-subtitle>
      </ion-card-header>


    </ion-item>
    <ion-list>
      <ion-item lines="none">
        <ion-label> 43 Participants </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-icon name="eye" slot="end"></ion-icon>
      <ion-card-header>
        <ion-card-subtitle>Oliver</ion-card-subtitle>
        <ion-card-title>Wedding </ion-card-title>
        <ion-card-subtitle>19-07-2021</ion-card-subtitle>
      </ion-card-header>


    </ion-item>
    <ion-list>
      <ion-item lines="none">
        <ion-label> 200 Participants </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>