<ion-tabs>

  <ion-tab-bar slot="bottom">

    
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Mes listes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="gift"></ion-icon>
      <ion-label>Découverte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lists">
      <ion-icon name="list"></ion-icon>
      <ion-label>Liste</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person"></ion-icon>
      <ion-label>profil</ion-label>
    </ion-tab-button>

    


  </ion-tab-bar>

</ion-tabs>
