<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>79,99 € </ion-card-subtitle>
      <ion-card-title>Product 1 </ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Add to list</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      <img src="../../../assets/img/gift.svg"  height="150px"/> 
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>19,99 € </ion-card-subtitle>
      <ion-card-title>Product 2 </ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Add to list</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      <img src="../../../assets/img/gift.svg"  height="150px"/> 
    </ion-card-content>
  </ion-card>
  
</ion-content>