<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-card-title>Ajouté par d'autres..</ion-card-title>
        <ion-button fill="outline" (click)="show()" slot="end"
          ><ion-icon name="add"></ion-icon
        ></ion-button>
      </ion-item>
    </ion-card-header>
    
    

    <ion-card-content *ngIf="isOpen">
      <ion-list *ngFor="let product of products">
        <app-product-line [id]="product.id" [listId]="null" (add)="add()"></app-product-line>
      </ion-list>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-card-title>Idée..</ion-card-title>
        <ion-button fill="outline" (click)="show()" slot="end"
          ><ion-icon name="add"></ion-icon
        ></ion-button>
      </ion-item>
    </ion-card-header>
    <ion-card-content *ngIf="isOpen"> hélloazeazea </ion-card-content>
  </ion-card>

  

  
</ion-content>
